body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

/* title */
#title {
  text-align: left;
  padding: 3% 15% 7%;
}

.intro-h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "montserrat-light";
}

.collapse {
  font-size: 1.5rem;
}

.container-fluid {
  padding: 7% 15%;
}

/* sections */
.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
  color: black;
}
.intro-img {
  width: 36%;
  transform: rotate(15deg);
  position: absolute;
}

@media (max-width: 990px) {
  .intro-img {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
}

.dbtn {
  margin: 5% 3% 5% 0;
}

/* features */

#features {
  text-align: center;
  position: relative;
}

#features p {
  color: #8f8f8f;
  font-size: 1.2rem;
}
.features-h3 {
  font-size: 1.5rem;
}
#features i {
  color: #ef8172;
  font-size: 4rem;
  padding: 2%;
}

#features i:hover {
  color: #ff4c68;
}

.testimonials-text {
  font-size: 3rem;
  line-height: 1.5;
}
#testimonials {
  background-color: #ef8172;
}
/* press */

#press {
  padding-bottom: 3%;
  background-color: #ef8172;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

#testimonials img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* pricing */

#pricing {
  padding: 100px;
}
.card-h3 {
  font-size: 1.5rem;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-column {
  padding: 3% 2%;
}

/* cta */

#cta {
  font-family: "Montserrat-Black";
}

#cta h3 {
  font-size: 60px;
  margin: 40px;
  line-height: 1.5;
}

#cta button {
  margin: 10px;
}

/* footer */

#footer i {
  margin: 10px;
}
